{% from "components/node.py.j2" import define_node -%}
{% from "components/parameter_declaration.py.j2" import declare_launch_argument -%}
{% from "components/parameter_loader.py.j2" import load_parameters -%}
{% from "components/include_launch_description.py.j2" import include_launch_description -%}
{% from "components/path_builder.py.j2" import build_package_path -%}
{% from "components/xacro_processor.py.j2" import process_xacro -%}
import os
{% if xacro_documents | default([]) %}import xacro
{% endif %}
from launch import LaunchDescription
from launch_ros.actions import Node
from ament_index_python.packages import get_package_share_directory
from launch.actions import DeclareLaunchArgument, IncludeLaunchDescription
from launch.conditions import IfCondition
from launch.launch_description_sources import PythonLaunchDescriptionSource
from launch.substitutions import LaunchConfiguration
from launch_ros.substitutions import FindPackageShare
from antrobot_ros.utils import load_node_params
from launch.substitutions import PathJoinSubstitution

def generate_launch_description():
{% for argument in launch_arguments %}{{ declare_launch_argument(argument) }}
{% endfor %}
{% for path in computed_paths %}{{ build_package_path(path) }}
{% endfor %}
{% for document in xacro_documents | default([]) %}{{ process_xacro(document) }}
{% endfor %}
{% for loader in parameter_loaders %}{{ load_parameters(loader) }}
{% endfor %}{% if parameter_extractions %}
    
    # Extract remapping topic
{% for extraction in parameter_extractions %}    {{ extraction.result_name }} = {{ extraction.parameter_variable }}['{{ extraction.parameter_key }}']
{% endfor %}{% endif %}    
{% for node in nodes %}{{ define_node(node) }}
{% endfor %}
{% for include in included_launch_files %}{{ include_launch_description(include) }}
{% endfor %}

    return LaunchDescription([{{ launch_description | join(", ") }}]){#- Suppress final newline. -#}
