/**:
  ros__parameters:
    enable_explore_lite: {{ values["nodes.explore.enable_explore_lite"] | yaml_scalar }}
    free_threshold: {{ values["nodes.explore.free_threshold"] | yaml_scalar }}
    occupied_threshold: {{ values["nodes.explore.occupied_threshold"] | yaml_scalar }}
    use_knn: {{ values["nodes.explore.use_knn"] | yaml_scalar }}
    input_map_topic: {{ values["nodes.explore.input_map_topic"] | yaml_scalar }}
    input_map_updates_topic: {{ values["nodes.explore.input_map_updates_topic"] | yaml_scalar }}
    output_map_topic: {{ values["nodes.explore.output_map_topic"] | yaml_scalar }}
    output_map_updates_topic: {{ values["nodes.explore.output_map_updates_topic"] | yaml_scalar }}
    publish_rate: {{ values["nodes.explore.publish_rate"] | yaml_scalar }}
    robot_base_frame: {{ values["nodes.explore.robot_base_frame"] | yaml_scalar }}
    return_to_init: {{ values["nodes.explore.return_to_init"] | yaml_scalar }}
    costmap_topic: {{ values["nodes.explore.costmap_topic"] | yaml_scalar }}
    costmap_updates_topic: {{ values["nodes.explore.costmap_updates_topic"] | yaml_scalar }}
    visualize: {{ values["nodes.explore.visualize"] | yaml_scalar }}
    planner_frequency: {{ values["nodes.explore.planner_frequency"] | yaml_scalar }}
    progress_timeout: {{ values["nodes.explore.progress_timeout"] | yaml_scalar }}
    potential_scale: {{ values["nodes.explore.potential_scale"] | yaml_scalar }}
    orientation_scale: {{ values["nodes.explore.orientation_scale"] | yaml_scalar }}
    gain_scale: {{ values["nodes.explore.gain_scale"] | yaml_scalar }}
    transform_tolerance: {{ values["nodes.explore.transform_tolerance"] | yaml_scalar }}
    min_frontier_size: {{ values["nodes.explore.min_frontier_size"] | yaml_scalar }}
